.s{
background-color:red;
color: yellow;
font-size: 50px;
text-align: center;
padding-left: 490px;
padding-right:490px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-style: solid;

}

.header{

border-color:black;
border-style: solid;
color: aqua;
background-color: rgb(28, 179, 96);
padding:5px;
margin: 5px;
}

.content{
background-color: yellow;



}

.article{

    background-color: wheat;
}

p{
margin:20px;
float:left;
font-size: 20px;

}
.leftside{
border-style: solid;
    clear:left;
    padding: 10px;
    background-color: aquamarine;
}

.center{
border-style: solid;
padding: 10px;
background-color: aquamarine;

}

.rightside{
border-style: solid;
padding: 10px;
background-color: aquamarine;
}

.secondright{
border-style: solid;
padding: 10px;
background-color: aquamarine;
}

.secondleft{
    border-style: solid;
    padding: 10px;
    background-color: aquamarine;
    padding-top: -30px;
    clear:right;
    }
    
