.s{
background-color: rgb(255, 225, 0);
color: white;
font-size: 50px;
padding-left: 10px;
padding-right:10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.u{

background-color: black;
color: white;
font-size: 50px;
padding-left: 10px;
padding-right:10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}