.s{
background-color:red;
color: yellow;
font-size: 50px;
text-align: center;
padding-left: 490px;
padding-right:490px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-style: solid;

}


.header{

border-color:black;
border-style: solid;
color: aqua;
background-color: rgb(28, 179, 96);
padding:5px;
margin: 5px;
}



.putin{
    margin-top: 10px;
float:right;
border-style: solid;
background-color:orange;
width: 100%;
max-width: 350px;
margin-right: 16px;
padding: 5px;

  }
  .uruguay{
    margin-top: 10px;
    border-style: solid;
    background-color: aquamarine;
    width: 100%;
    max-width: 350px;
    margin-left: 17px;
    margin-right: 26px;
    padding: 5px;
    

  }

  .tank{
    margin-top: 10px;
float: left;
    border-style: solid;
background-color: aquamarine;
width: 100%;
max-width: 350px;
margin-left: 5px;
margin-right: 5px;
padding: 5px;
  }

  .dolls{
    margin-top: 15px;

    float:right;
    border-style: solid;
    background-color: aquamarine;
    width: 100%;
    max-width: 350px;
    padding: 5px; 
    margin-right: 16px;
  }


  .c{
    margin-top: 15px;
    border-style: solid;
    background-color: aquamarine;
    width: 100%;
    max-width: 350px;
    margin-left: 17px;
    margin-right: 5px;
    padding: 5px;
  }
.fashion{
    margin-top: 15px;
    float: left;
    border-style: solid;
background-color: aquamarine;
width: 100%;
max-width: 350px;
margin-left: 5px;
margin-right: 5px;
padding: 5px;

}

.newsheader{



border-style: solid;
background-color: red;
color: yellow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
padding: 10px;
margin: 15px;
font-size: 30px;

}

.newstitle{

font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



}

.u{


    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    

}

.formath{
border-style: solid;
margin: 10px;
background-color: lightblue;


}